.ecg-level-0-bg {
  background-color: $color-ecg-basic-level;
}

.ecg-level-0-bg-text {
  background-color: $color-ecg-basic-level !important;
  color: $color-grey-dark !important;
}

.ecg-level-1-bg {
  background-color: $color-ecg-advanced-level;
}

.ecg-level-1-bg-text {
  background-color: $color-ecg-advanced-level !important;
  color: $color-grey-dark !important;
}
.ecg-level-2-bg {
  background-color: $color-ecg-experienced-level;
}

.ecg-level-2-bg-text {
  background-color: $color-ecg-experienced-level !important;
  color: $color-white !important;
}

.ecg-level-3-bg {
  background-color: $color-ecg-model-level;
}

.ecg-level-3-bg-text {
  background-color: $color-ecg-model-level !important;
  color: $color-white !important;
}