@import "ecg-variables";

$btn-lighten-percentage: 0.90;
$btn-darken-percentage: 5;

.btn-ecg {
  background-color: $color-ecg-olive;
  border-color: $color-ecg-olive;
  color: #FFFFFF;
}

.btn-ecg:hover,
.btn-ecg.active {
  background-color: darken($color-ecg-olive, $btn-darken-percentage);
  border-color: darken($color-ecg-olive, $btn-darken-percentage);
}

.btn-ecg-turquoise {
  background-color: $color-ecg-turquoise-dark;
  border-color: $color-ecg-turquoise-dark;
  color: $color-white;
}

.btn-ecg-turquoise:hover,
.btn-ecg-turquoise.active {
  background-color: darken($color-ecg-turquoise-dark, $btn-darken-percentage);
  border-color: darken($color-ecg-turquoise-dark, $btn-darken-percentage);
  color: $color-white;
}

.btn-ecg-level-white-color-hover {
  border-color: darken($color-grey-light-border, $btn-darken-percentage);
  color: $color-white;
}

.btn-ecg-level-dark-color {
  border-color: $color-grey-light-border;
  color: $color-grey-dark;
}

.btn-ecg-level-dark-color-hover {
  border-color: darken($color-grey-light-border, $btn-darken-percentage);
  color: $color-grey-dark;
}

.btn-ecg-level-0 {
  @extend .btn-ecg-level-dark-color;
  background-color: transparentize($color-ecg-negative, $btn-lighten-percentage);
}

.btn-ecg-level-0:hover,
.btn-ecg-level-0.active {
  @extend .btn-ecg-level-white-color-hover;
  background-color: $color-ecg-negative;
}

.btn-ecg-level-1 {
  @extend .btn-ecg-level-dark-color;
  background-color: transparentize($color-ecg-basic-level, $btn-lighten-percentage);
}

.btn-ecg-level-1:hover,
.btn-ecg-level-1.active {
  @extend .btn-ecg-level-white-color-hover;
  background-color: $color-ecg-basic-level;
}

.btn-ecg-level-2 {
  @extend .btn-ecg-level-dark-color;
  background-color: transparentize($color-ecg-advanced-level, $btn-lighten-percentage);
}

.btn-ecg-level-2:hover,
.btn-ecg-level-2.active {
  @extend .btn-ecg-level-dark-color-hover;
  background-color: $color-ecg-advanced-level;
}

.btn-ecg-level-3 {
  @extend .btn-ecg-level-dark-color;
  background-color: transparentize($color-ecg-experienced-level, $btn-lighten-percentage);
}

.btn-ecg-level-3:hover,
.btn-ecg-level-3.active {
  @extend .btn-ecg-level-dark-color-hover;
  background-color: $color-ecg-experienced-level;
}

.btn-ecg-level-4 {
  @extend .btn-ecg-level-dark-color;
  background-color: transparentize($color-ecg-model-level, $btn-lighten-percentage);
}

.btn-ecg-level-4:hover,
.btn-ecg-level-4.active {
  @extend .btn-ecg-level-dark-color-hover;
  background-color: $color-ecg-model-level;
}
