$color-ecg-turquoise-light: #b5eeee;
$color-ecg-turquoise: #99CCCC;
$color-ecg-turquoise-dark: #009999;
$color-ecg-olive: #CCCB98;
$color-ecg-olive-dark: #999933;
$color-ecg-green2: #94BE4E;

$color-ecg-negative: #DE6B3C;
$color-ecg-negative-content: #7B7C7F;
$color-ecg-basic-level: #E8B809;
$color-ecg-advanced-level: #FFF101;
$color-ecg-experienced-level: #A3CF9A;
$color-ecg-model-level: #40AE49;
